@model Coche

<h1>Detalles</h1>

<ul class="list-group">
    <li class="list-group-item">Id: @Model.IdCoche</li>
    <li class="list-group-item">Marca: @Model.Marca</li>
    <li class="list-group-item">Modelo: @Model.Modelo</li>
    <li class="list-group-item">Conductor: @Model.Conductor</li>
</ul>